{{> header }}
<section class="login-form">
    <div class="container">
        <div class="inner">
            <h4>Sign Up</h4>
            <form action="/signup" method="post">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <input type="submit" value="Sign Up!">
            </form>
            <a href="/signin" class="signup-link">SignIn instead</a>
        </div>
    </div>
</section>